.expr-window__container {
  width: 764px;
  height: 412px;
  background-color: #ffffff;
  border: 1px solid #ebeaed;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 35.4px 30px 32px 37px;
}

.expr-window__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0 0 0 3px;
  visibility: hidden;
}

.expr-window__title_visible {
  visibility: visible;
}

.expr-window__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  height: 51px;
}

.expr-window__page-counter {
  margin: 0 0 0 -7px;
  font-family: "cmu_sans_serifbold";
  font-size: 16px;
  line-height: 20px;
}

.expr-window__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expr-window__button {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  border: 1px solid #1a1b22;
  box-sizing: border-box;
  outline: none;
  background: none;
  opacity: 1;
  transition: opacity 0.1s ease-in-out 0.1s;
}

.expr-window__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.expr-window__button_hidden {
  opacity: 0;
}

.expr-window__button_hidden:hover {
  cursor: default;
  opacity: 0;
}

.expr-window__button_black {
  width: 183px;
  margin-left: 16px;
  border: none;
  background: #1a1b22;
  font-size: 16px;
  line-height: 50px;
  color: #ffffff;
}

.expr-window__button_round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.expr-window__icon {
  height: 12.92px;
  width: 15px;
}

.exp-window__icon_round {
  height: 48px;
  width: 24px;
}
