.expr__container {
  height: 222px;
  box-sizing: border-box;
  padding: 51px 0 58px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.expr__row {
  width: 308px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expr__row_first {
  position: relative;
}

.expr__row_second {
  width: 393px;
  margin-left: 16px;
}

.expr__with-braces {
  width: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expr__inside-braces {
  width: 109px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 22px;
  position: relative;
}

.expr__pair {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 22px;
  position: relative;
}

.expr__pair_bottom {
  align-items: flex-end;
}

.expr__pair_high {
  height: 43px;
}

.expr__letter {
  box-sizing: border-box;
  visibility: visible;
  transition: visibility 0.2s ease 0.2s;
}

.expr__letter_hidden {
  visibility: hidden;
  transition: visibility 0.01s ease 0.01s;
}

.expr__symbol {
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.1s ease-in-out 0.1s;
}

.expr__symbol_hidden {
  opacity: 0;
}

.expr__symbol_bottom {
  padding-top: 24px;
}

.expr__symbol_wide {
  width: 41px;
}

.expr__symbol_top-padding {
  padding-top: 11px;
}

.expr__symbol_top-padding-small {
  padding-top: 4px;
}

.expr__symbol_bottom-padding {
  padding-bottom: 10px;
}

.expr__symbol_abs {
  position: absolute;
}

.expr__symbol_abs_a {
  left: 5px;
  top: 0;
}

.expr__symbol_abs_b {
  top: -10.5px;
  left: 80.75px;
}

.expr__symbol_abs_x {
  left: 4.5px;
  top: 0;
}

.expr__symbol_abs_y {
  left: 78px;
  top: -6px;
}

.expr__symbol_abs_dots {
  left: 0;
  bottom: 0;
  width: 46px;
  box-sizing: border-box;
  padding: 0 6px;
}

@keyframes shift-a {
  0% {
    top: 0px;
    left: 5px;
  }
  50% {
    top: 34px;
    left: 25px;
  }
  100% {
    top: 68px;
    left: 45px;
  }
}

@keyframes shift-a-reverse {
  0% {
    top: 68px;
    left: 45px;
  }
  50% {
    top: 34px;
    left: 25px;
  }
  100% {
    top: 0px;
    left: 5px;
  }
}

@keyframes shift-a-2 {
  0% {
    top: 0px;
    left: 5px;
  }
  50% {
    top: 34px;
    left: 82.5px;
  }
  100% {
    top: 68px;
    left: 160px;
  }
}

@keyframes shift-b {
  0% {
    top: -10.5px;
    left: 80.75px;
  }
  50% {
    top: 23.5px;
    left: 170.75px;
  }
  100% {
    top: 57.5px;
    left: 260.75px;
  }
}

@keyframes shift-b-2 {
  0% {
    top: -10.5px;
    left: 80.75px;
  }
  50% {
    top: 23.5px;
    left: 220.75px;
  }
  100% {
    top: 57.5px;
    left: 360.75px;
  }
}

@keyframes shift-x {
  0% {
    top: 0px;
    left: 4.5px;
  }
  50% {
    top: 34px;
    left: -29.5px;
  }
  100% {
    top: 68px;
    left: -64px;
  }
}

@keyframes shift-x-2 {
  0% {
    top: 0px;
    left: 4.5px;
  }
  50% {
    top: 34px;
    left: 75px;
  }
  100% {
    top: 68px;
    left: 145px;
  }
}

@keyframes shift-x-reverse {
  0% {
    top: 68px;
    left: -64px;
  }
  50% {
    top: 34px;
    left: -30px;
  }
  100% {
    top: 0px;
    left: 4.5px;
  }
}

@keyframes shift-y {
  0% {
    top: -6px;
    left: 78px;
  }
  50% {
    top: 29px;
    left: 59px;
  }
  100% {
    top: 64px;
    left: 40px;
  }
}

@keyframes shift-y-2 {
  0% {
    top: -6px;
    left: 78px;
  }
  50% {
    top: 29px;
    left: 159px;
  }
  100% {
    top: 64px;
    left: 240px;
  }
}

.shift-a {
  animation: shift-a 0.2s linear;
}

.shift-a-2 {
  animation: shift-a-2 0.2s linear;
}

.shift-b {
  animation: shift-b 0.2s linear;
}

.shift-b-2 {
  animation: shift-b-2 0.2s linear;
}

.shift-x {
  animation: shift-x 0.2s linear;
}

.shift-x-2 {
  animation: shift-x-2 0.2s linear;
}

.shift-y {
  animation: shift-y 0.2s linear;
}

.shift-y-2 {
  animation: shift-y-2 0.2s linear;
}

.shift-a-reverse {
  animation: shift-a-reverse 0.2s linear;
}

.shift-x-reverse {
  animation: shift-x-reverse 0.2s linear;
}
