.expr__container {
  height: 222px;
  box-sizing: border-box;
  padding: 51px 0 58px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.expr__row {
  width: 308px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expr__row_first {
  position: relative;
}

.expr__row_second {
  width: 393px;
  margin-left: 16px;
}

.expr__pair {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 22px;
  position: relative;
}

.expr__pair_bottom {
  align-items: flex-end;
}

.expr__pair_high {
  height: 43px;
}

.expr__letter {
  box-sizing: border-box;
  visibility: visible;
  transition: visibility 0.2s ease 0.2s;
}

.expr__letter_hidden {
  visibility: hidden;
  transition: visibility 0.01s ease 0.01s;
}

.expr__symbol {
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.1s ease-in-out 0.1s;
}

.expr__symbol_hidden {
  opacity: 0;
}

.expr__symbol_bottom {
  padding-top: 24px;
}

.expr__symbol_wide {
  width: 41px;
}

.expr__symbol_top-padding {
  padding-top: 11px;
}

.expr__symbol_top-padding-small {
  padding-top: 4px;
}

.expr__symbol_bottom-padding {
  padding-bottom: 10px;
}

.expr__symbol_abs {
  position: absolute;
}

.expr__symbol_abs_dots {
  left: 0;
  bottom: -4px;
  width: 46px;
  box-sizing: border-box;
  padding: 0 6px;
}

.expr__symbol_abs_dots-high {
  bottom: 7px;
}
